//Color variables
$primary-clr: #5465FF;
$secondary-clr: #FFF978;
$tertiary-clr: #BFD7FF;

$success-clr: #54FF84;
$warning-clr: #FFBD54;
$error-clr: #FF5457;

$base-white: #F8F8FE;
$base-black: #000429;

//Typography - FONT FAMILY
$font-family-heading: 'Outfit';
$font-family-body: 'Switzer';

//Typography - FONT WEIGHT

